In [120]:
import array
import pandas
import numpy
import math

In [121]:
import pandas as pd
import numpy as np
import array

In [122]:
indexPanda = pd.Series([])
indexList = []

In [123]:
s1 = np.zeros((335,3))

In [124]:
s1[:] = [None]

In [125]:
list = pd.read_csv("c:/MachineLearningWork/tva_output.csv")

In [126]:
list

,Index,Timestamp,Server,Tactic,Latency,Cost,Reliability,TotalCost,Predicted Latency,Predicted Total Cost,Hours
0,1,32:53.4,1,1,1.716679,15.9,1,27.295194,NaN,NaN,0
1,2,33:01.9,1,2,8.534772,12.3,1,104.977698,NaN,NaN,0
2,3,33:02.1,1,3,0.176431,28.8,1,5.081218,NaN,NaN,0
3,4,33:08.5,1,4,6.426049,26.7,1,171.575495,NaN,NaN,0
4,5,33:17.9,1,5,9.365804,2.1,1,19.668189,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
92255,92256,52:24.8,1,4,6.485255,25.7,1,166.671054,NaN,NaN,117
92256,92257,52:25.1,1,5,0.293175,25.4,1,7.446657,NaN,NaN,117
92257,92258,52:31.9,2,1,1.891588,5.4,1,10.214578,NaN,NaN,117
92258,92259,52:35.4,2,2,3.508379,25.4,1,89.112838,NaN,NaN,117
92259,92260,52:35.6,2,3,0.174014,26.4,1,4.593966,NaN,NaN,117

In [54]:
list.iloc[:, 3]

0        1
1        2
2        3
3        4
4        5
        ..
92255    4
92256    5
92257    1
92258    2
92259    3
Name: Tactic, Length: 92260, dtype: int64

In [127]:
index = list.iloc[:, 0]
hours = list.iloc[:, 10]
latency = list.iloc[:, 4]
cost = list.iloc[:,7]
rel = list.iloc[:,6]
server1 = list.iloc[:,2]
#server2 = list.iloc[:,15]
#server3 = list.iloc[:,16]
#server4 = list.iloc[:,17]
#server5 = list.iloc[:,18]
#server6 = list.iloc[:,19]
#server7 = list.iloc[:,20]
#server8 = list.iloc[:,21]
tactic1 = list.iloc[:,3]
#tactic2 = list.iloc[:,23]
#tactic3 = list.iloc[:,24]
#tactic4 = list.iloc[:,25]
#tactic5 = list.iloc[:,26]

In [59]:
size = len(index)

In [93]:
max = hours[size-1]

In [60]:
prediction = np.zeros((size,1))

In [143]:
s1 = np.zeros((max,3))
s1[:] = 1
ii = 1
iii = 0
hourcheck = 1
sumS1l = 0
sumS1c = 0
countTimes = 1
n = 0
for j in range(0,size-1):
   # if tactic1[j] == 1 and server1[j] == 3:
    if tactic1[j] == 5:
    #manually changed along with the save file. 
        
        if rel[j] and hours[j] == n:
            sumS1l = sumS1l + latency[j]
            sumS1c = sumS1c + cost[j]
            countTimes = countTimes + 1
            
        if hours[j] > n:
            s1[(n,0)] = n
            s1[(n,1)] = sumS1l / countTimes
            s1[(n,2)] = sumS1c / countTimes
            n = n + 1
            sumS1l = latency[j]
            sumS1c = cost[j]
            countTimes = 1

In [130]:
s1

array([[  0.        ,   1.72748211,  15.91486777],
       [  1.        ,   1.82987524,  15.92671167],
       [  2.        ,   1.77028338,  15.57280594],
       [  3.        ,   1.78493757,  16.16227074],
       [  4.        ,   1.75463736,  16.34740063],
       [  5.        ,   1.79820939,  16.51164326],
       [  6.        ,   1.76669356,  15.95687007],
       [  7.        ,   1.77792627,  15.71285124],
       [  8.        ,   1.76715954,  16.01373118],
       [  9.        ,   1.76363026,  16.02011162],
       [ 10.        ,   1.78283227,  15.47415446],
       [ 11.        ,   1.77060115,  15.42353293],
       [ 12.        ,   1.78061618,  15.52494194],
       [ 13.        ,   1.76701864,  15.84346499],
       [ 14.        ,   1.75208255,  15.56572732],
       [ 15.        ,   1.78391561,  15.70089206],
       [ 16.        ,   1.76447888,  16.05185493],
       [ 17.        ,   1.770185  ,  16.87702747],
       [ 18.        ,   1.7728758 ,  15.96175278],
       [ 19.        ,   1.85239263,  16.22124966],
       [ 20.        ,   1.77861361,  15.50662   ],
       [ 21.        ,   1.75953154,  15.50978051],
       [ 22.        ,   1.80678869,  16.29684038],
       [ 23.        ,   1.77355702,  15.47888349],
       [ 24.        ,   1.78133088,  15.26856225],
       [ 25.        ,   1.78585248,  15.41109299],
       [ 26.        ,   1.78558992,  15.45735888],
       [ 27.        ,   1.79196138,  16.0843106 ],
       [ 28.        ,   1.77917334,  15.95258527],
       [ 29.        ,   1.7606219 ,  15.92880851],
       [ 30.        ,   1.78522608,  15.84976734],
       [ 31.        ,   1.75429593,  15.45653865],
       [ 32.        ,   1.76036389,  15.32571761],
       [ 33.        ,   1.84677761,  16.14954538],
       [ 34.        ,   1.79202497,  15.9724672 ],
       [ 35.        ,   1.8844832 ,  15.85116264],
       [ 36.        ,   1.79643781,  15.70331051],
       [ 37.        ,   1.78267773,  15.41084109],
       [ 38.        ,   1.80585134,  15.44138754],
       [ 39.        ,   1.79513337,  15.27990683],
       [ 40.        ,   1.82276907,  15.7220596 ],
       [ 41.        ,   1.86724122,  15.98168335],
       [ 42.        ,   1.77589154,  15.77895572],
       [ 43.        ,   1.88173237,  17.13095179],
       [ 44.        ,   1.82656113,  16.31311115],
       [ 45.        ,   1.83673925,  16.1983143 ],
       [ 46.        ,   1.79895757,  15.60899683],
       [ 47.        ,   1.78129257,  15.14132114],
       [ 48.        ,   1.8225424 ,  15.67848967],
       [ 49.        ,   1.77542599,  15.71887116],
       [ 50.        ,   1.79347355,  15.9874512 ],
       [ 51.        ,   1.79311059,  15.66557102],
       [ 52.        ,   1.76974886,  15.56450152],
       [ 53.        ,   1.84592775,  16.30643827],
       [ 54.        ,   1.76187216,  15.87967084],
       [ 55.        ,   1.77499009,  15.8393574 ],
       [ 56.        ,   1.7871581 ,  16.21047952],
       [ 57.        ,   1.76225183,  16.10175369],
       [ 58.        ,   1.80068857,  16.07343502],
       [ 59.        ,   1.78156623,  15.45035679],
       [ 60.        ,   1.82938477,  16.29470938],
       [ 61.        ,   1.78516959,  15.77745969],
       [ 62.        ,   1.80515589,  16.09616957],
       [ 63.        ,   1.78163191,  15.88659115],
       [ 64.        ,   1.76787479,  15.70925874],
       [ 65.        ,   1.78631372,  16.43927256],
       [ 66.        ,   1.78975208,  16.06249121],
       [ 67.        ,   1.79736881,  15.65474545],
       [ 68.        ,   1.78591283,  16.02352016],
       [ 69.        ,   1.78706555,  15.50469804],
       [ 70.        ,   1.77435204,  15.21033542],
       [ 71.        ,   1.78466366,  15.37796804],
       [ 72.        ,   1.77350829,  15.81836225],
       [ 73.        ,   1.87397295,  15.70743933],
       [ 74.        ,   1.77580609,  16.60067758],
       [ 75.        ,   1.82019038,  16.41980841],
       [ 76.        ,   1.76944044,  15.00855752],
       [ 77.        ,   1.78919409,  15.42143139],
       [ 78.        ,   1.78278015,  15.33752035],
       [ 79.        ,   1.78060871,  15.74446281],
       [ 80.        ,   1.80538141,  16.29278739],
       [ 81.        ,   1.77436707,  15.85429291],
       [ 82.        ,   1.75452429,  15.99078121],
       [ 83.        ,   1.79272277,  15.83861559],
       [ 84.        ,   1.82238207,  16.33361474],
       [ 85.        ,   1.80882531,  16.62790526],
       [ 86.        ,   1.76764842,  16.36373825],
       [ 87.        ,   1.75683314,  16.02811655],
       [ 88.        ,   1.75776294,  15.68831382],
       [ 89.        ,   1.77644349,  15.52518332],
       [ 90.        ,   1.76484684,  15.03390653],
       [ 91.        ,   1.77606996,  15.43274008],
       [ 92.        ,   1.78638049,  15.75757081],
       [ 93.        ,   1.82155615,  15.58928025],
       [ 94.        ,   1.85778827,  15.94124841],
       [ 95.        ,   1.85968138,  16.05693345],
       [ 96.        ,   1.77068357,  15.37575427],
       [ 97.        ,   1.83248402,  15.93833008],
       [ 98.        ,   1.89669473,  16.24169977],
       [ 99.        ,   1.82215333,  15.46108754],
       [100.        ,   1.76426578,  14.97803846],
       [101.        ,   1.78555077,  15.23740191],
       [102.        ,   1.81155788,  15.69110901],
       [103.        ,   1.7963379 ,  15.53573986],
       [104.        ,   1.77060864,  15.54190071],
       [105.        ,   1.85362257,  16.03056335],
       [106.        ,   1.77124872,  15.56596424],
       [107.        ,   1.76825379,  15.61710025],
       [108.        ,   1.8011973 ,  15.62750215],
       [109.        ,   1.76064643,  15.72345465],
       [110.        ,   1.76969554,  15.64972733],
       [111.        ,   1.76597706,  15.48470202],
       [112.        ,   1.79446946,  15.7486225 ],
       [113.        ,   1.77222968,  15.21335897],
       [114.        ,   1.74672853,  15.12877408],
       [115.        ,   1.77287088,  15.72521504],
       [116.        ,   1.76391221,  15.95793674]])

In [144]:
np.savetxt("t5.csv", s1, delimiter=",")