In [159]:
import array
import pandas
import numpy
import math

In [160]:
import pandas as pd
import numpy as np
import array

In [147]:
indexPanda = pd.Series([])
indexList = []

In [148]:
s1 = np.zeros((335,3))

In [149]:
s1[:] = [None]

In [150]:
list = pd.read_csv("c:/MachineLearningWork/tva_output.csv")

In [151]:
list

,Index,Timestamp,Server,Tactic,Latency,Cost,Reliability,TotalCost,Predicted Latency,Predicted Total Cost,Hours
0,1,32:53.4,1,1,1.716679,15.9,1,27.295194,NaN,NaN,0
1,2,33:01.9,1,2,8.534772,12.3,1,104.977698,NaN,NaN,0
2,3,33:02.1,1,3,0.176431,28.8,1,5.081218,NaN,NaN,0
3,4,33:08.5,1,4,6.426049,26.7,1,171.575495,NaN,NaN,0
4,5,33:17.9,1,5,9.365804,2.1,1,19.668189,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
92255,92256,52:24.8,1,4,6.485255,25.7,1,166.671054,NaN,NaN,117
92256,92257,52:25.1,1,5,0.293175,25.4,1,7.446657,NaN,NaN,117
92257,92258,52:31.9,2,1,1.891588,5.4,1,10.214578,NaN,NaN,117
92258,92259,52:35.4,2,2,3.508379,25.4,1,89.112838,NaN,NaN,117
92259,92260,52:35.6,2,3,0.174014,26.4,1,4.593966,NaN,NaN,117

In [54]:
list.iloc[:, 3]

0        1
1        2
2        3
3        4
4        5
        ..
92255    4
92256    5
92257    1
92258    2
92259    3
Name: Tactic, Length: 92260, dtype: int64

In [161]:
index = list.iloc[:, 0]
hours = list.iloc[:, 10]
latency = list.iloc[:, 4]
cost = list.iloc[:,7]
rel = list.iloc[:,6]
server1 = list.iloc[:,2]
#server2 = list.iloc[:,15]
#server3 = list.iloc[:,16]
#server4 = list.iloc[:,17]
#server5 = list.iloc[:,18]
#server6 = list.iloc[:,19]
#server7 = list.iloc[:,20]
#server8 = list.iloc[:,21]
tactic1 = list.iloc[:,3]
#tactic2 = list.iloc[:,23]
#tactic3 = list.iloc[:,24]
#tactic4 = list.iloc[:,25]
#tactic5 = list.iloc[:,26]

In [153]:
size = len(index)

In [154]:
max = hours[size-1]

In [155]:
prediction = np.zeros((size,1))

In [156]:
s1 = np.zeros((max,3))
s1[:] = 1
ii = 1
iii = 0
hourcheck = 1
sumS1l = 0
sumS1c = 0
countTimes = 1
n = 0
for j in range(0,size-1):
   # if tactic1[j] == 1 and server1[j] == 3:
    if tactic1[j] == 2:
    #manually changed along with the save file. 
        
        if rel[j] and hours[j] == n:
            sumS1l = sumS1l + latency[j]
            sumS1c = sumS1c + cost[j]
            countTimes = countTimes + 1
            
        if hours[j] > n:
            s1[(n,0)] = n
            s1[(n,1)] = sumS1l / countTimes
            s1[(n,2)] = sumS1c / countTimes
            n = n + 1
            sumS1l = latency[j]
            sumS1c = cost[j]
            countTimes = 1

In [158]:
cost

0         27.295194
1        104.977698
2          5.081218
3        171.575495
4         19.668189
            ...
92255    166.671054
92256      7.446657
92257     10.214578
92258     89.112838
92259      4.593966
Name: TotalCost, Length: 92260, dtype: float64

In [144]:
np.savetxt("t5.csv", s1, delimiter=",")